@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="PlayerCtrl" data-ng-init="initPage();">
    <h2>Projects</h2>
    
    @*<toaster-container></toaster-container>*@

    <form class="form-horizontal" name="form" novalidate >

        <submit-feedback rvm="rvmProject"></submit-feedback>

        <list-editor inputText="sdf" listItem="sdf"></list-editor>


    <div class="form-group" style="padding-left:15px;  padding-right:15px;">
        <div class="row top-buffer">
            <div class="col-md-2">
                <label class="control-label" for="ddlPatientTitle">
                    Project Name
                </label>
            </div>
            <div class="col-md-5">
                <input type="text" name="Name" placeholder="Enter project name" ng-model="vmFormProject.Name" class="form-control" />
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-2">
                <label class="control-label" for="ddlPatientTitle">
                    Project Description
                </label>
            </div>
            <div class="col-md-5">
                <input type="text" placeholder="Enter project description" ng-model="vmFormProject.Description" class="form-control" />
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-2">
                <label class="control-label" for="ddlPatientTitle">
                    Start Date
                </label>
            </div>
            <div class="col-md-5">
                <input kendo-date-picker k-options="datePickerConfig" k-format="'dd/MM/yyyy'" placeholder="Start Date" ng-model="vmFormProject.StartDate" class="form-control1" />
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-2">
                <label class="control-label" for="ddlPatientTitle">
                    End Date
                </label>
            </div>
            <div class="col-md-5">
                <input kendo-date-picker k-options="datePickerConfig" k-format="'dd/MM/yyyy'" placeholder="End Date" ng-model="vmFormProject.EndDate" class="form-control1" />
            </div>
        </div>



        <div class="row top-buffer">
            <div class="col-md-2">
                <label class="control-label" for="ddlPatientTitle">
                    <button class="btn  btn-primary" ng-click="saveProject()">Save Project</button>
                </label>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>

</form>


    <div kendo-grid="grid" 
         k-data-source="gridData" 
         k-columns="gridColumns" 
         k-selectable="false" 
         k-sortable="true" 
         k-filterable="false" 
         k-pageable='{ "refresh": false, "pageSizes": true }'></div>

    @*<audit-panel who="vm.Who" when="vm.When" ng-show="true"></audit-panel>*@
  

</div>


@section Scripts {
    <script src=@Scripts.Url("~/AppScripts/controllers/project-controller.js")></script>
}
