<div ng-cloak>
    <h1>List Editor</h1>
    <!--<div>
        <span class="pull-left"><input type="text" ng-model="inputText" /></span>
        <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="add()" ng-show="inputText != ''"></span>
    </div>

    <table border="0">
        <tr ng-repeat="item in listItems track by $index">
            <td class="pull-left">{{item}}</td>
            <td class="pull-right" style="padding-left:10px;"><span class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="remove($index)"></span></td>
        </tr>
    </table>-->
</div>