<div>
    <div ng-if="rvm">
        <!--{{rvm | json}}-->

        <div class="alert alert-success" ng-show="rvm.Success" >
            {{rvm.SuccessMessage}}
        </div>  

        <div class="alert alert-danger" ng-show="!rvm.Success && rvm.ErrorCount > 0" >
            <div ng-if="rvm.ErrorCount > 1" ng-repeat="e in rvm.Errors">
                <ul>
                    <li class="error">[{{e.Tag}}][{{e.Type}}] - {{e.Message}}</li>
                </ul>
            </div>
            <div ng-if="rvm.ErrorCount == 1" >
                [{{rvm.Errors[0].Tag}}][{{rvm.Errors[0].Type}}] - {{rvm.Errors[0].Message}}
            </div>
        </div>

    </div>
</div>


